**/.git
**/.gitignore
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/obj
**/out
**/TestResults
**/.toolstarget
**/.dockerignore
**/Dockerfile*
**/docker-compose*
**/.github
README.md
LICENSE